<div class="container color-dark">
  <div class="col">
    <p>Add a bucket List Item</p>
  </div>

  <div class="col">
    <p>Your bucket list ({{itemCount}})
      <!-- Interpolation  -->
    </p>
  </div>
</div>

<div class="container color-light" [@goals]="goals.length">

  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal.</p>

    <form>
      <input type="text" class="text" name="item" placeholder="Write your life goals..." 
      [(ngModel)]="goalText">
      <br><br>
      <span>{{goalText}}</span>
      <br>
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">  <!-- property binding (oneway databinding) -->
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (dblclick)="removeItem(i)">
    {{goal}}
    </p>
  </div>

</div>
